<div class="background h-100 w-100 d-flex align-items-center">
    <div class="container-fluid text-bg text-light">
        <div class="row">
            <div class="col">
                <h1 class="display-1 text-center">Hi, I'm Hieu</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-10 col-xxl-7">
                <p class="lead">As an international <span class="fw-bold fst-italic">Master’s</span> student in <span class="fw-bold fst-italic">Computer Engineering</span> at UMass Dartmouth, I bring hands-on experience in <span class="fw-bold fst-italic">Web Development</span> with <span class="fw-bold fst-italic">Angular and Node.js</span>. Along with working on <span class="fw-bold fst-italic">Java projects</span>, I am expanding my expertise through courses in <span class="fw-bold fst-italic">Database Design and Machine Learning</span>. I am seeking an <span class="fw-bold fst-italic">internship for Spring or Summer 2025</span>. Feel free to explore my resume and projects on this website.</p>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-auto">
                <button type="button" class="btn btn-primary" routerLink="/resume">
                    <i class="bi bi-file-person"></i>
                    My Resume
                </button>
                <button type="button" class="ms-3 btn btn-success" routerLink="/projects">
                    <i class="bi bi-laptop"></i>
                    My Projects
                </button>
            </div>
        </div>
    </div>
</div>